<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>iconName</key>
			<string>6,11504.jpg</string>
			<key>title</key>
			<string>装修案例</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11501.jpg</string>
			<key>title</key>
			<string>装修推荐</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11568.jpg</string>
			<key>title</key>
			<string>迷你小窝</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-dishe@2x.png</string>
			<key>title</key>
			<string>别致爱巢</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11517.jpg</string>
			<key>title</key>
			<string>清新雅居</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11524.jpg</string>
			<key>title</key>
			<string>大户型</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11510.jpg</string>
			<key>title</key>
			<string>中型家居</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>iconName</key>
			<string>6,11571.jpg</string>
			<key>title</key>
			<string>中国风</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-dzh@2x.png</string>
			<key>title</key>
			<string>欧式</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11579.jpg</string>
			<key>title</key>
			<string>美式</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11547.jpg</string>
			<key>title</key>
			<string>田园</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11515.jpg</string>
			<key>title</key>
			<string>简约</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-keting@2x.png</string>
			<key>title</key>
			<string>地中海</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-hunfang@2x.png</string>
			<key>title</key>
			<string>婚房布置</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11583.jpg</string>
			<key>title</key>
			<string>宜家</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>iconName</key>
			<string>6,11582.jpg</string>
			<key>title</key>
			<string>客厅</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-rishi@2x.png</string>
			<key>title</key>
			<string>卧室</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-etf@2x.png</string>
			<key>title</key>
			<string>儿童房</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-chufang@2x.png</string>
			<key>title</key>
			<string>厨房</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11553.jpg</string>
			<key>title</key>
			<string>阳台</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-wyj@2x.png</string>
			<key>title</key>
			<string>卫浴间</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11589.jpg</string>
			<key>title</key>
			<string>书房</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>6,11585.jpg</string>
			<key>title</key>
			<string>健身房</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>jj-yijia@2x.png</string>
			<key>title</key>
			<string>玄关</string>
		</dict>
	</array>
</array>
</plist>
